# Model dosyaları (çok büyük)
data/labeled/bertturk_finetuned/
data/labeled/kategori_embeddingler.pkl

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Mac
.DS_Store

# Logs
*.log
*.pid
api.log
api.error.log
nohup.out
data/labeled/bertturk_model.pt
